<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!--此密钥适用于资源组“Default-ApplicationInsights-EastUS”中的 Application Insights 资源“RecordIns”-->
  <InstrumentationKey>f7c663d4-6362-4093-bcba-42cfb2461052</InstrumentationKey>
</ApplicationInsights>